@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin button {
  width: 30%;
  padding: 1.8rem;
  margin: 0.4rem;
  font-family: "Space Mono", monospace;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  letter-spacing: 1px;
}
