// COLORS
$color-primary: rgb(38, 192, 171);
$color-primary-dark: rgb(0, 73, 77);
$color-primary-grey: rgb(94, 122, 125);
$color-primary-grey2: rgb(127, 156, 159);

$color-grey-light-1: rgb(197, 228, 231);
$color-grey-light-2: rgb(244, 250, 250);
$color-white: rgb(255, 255, 255);
$color-black: #000;

// GRID
$grid-width: 114rem;
$margin-verti: 8rem;
$margin-horiz: 6rem;

// FONT
$font-size-default: 1.6rem;
$font-size-amount-desktop: 2.5rem;
