.main-container {
  @include flex-column;
  height: 100vh;

  [class$="__text"] {
    text-transform: capitalize;
    font-size: $font-size-default;
  }
}

[class^="main-title"] {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  line-height: 3.6rem;
}

.main-title-second-part {
  margin-bottom: 6rem;
}
